/*
Stylesheet starts here!

Generic styles (styles common to all webpages) listed below:
*/

/*Generic body styles*/
body {
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100vh;
	background-color: #e2e2e2;
	font-family: Georgia, serif;
	font-size: 14pt;
	padding: 0;
	margin: 0;
}

/*Generic header styles*/
header {
	background-color: #4f0b74;
	border-radius: 50px;
	font-family: Calibri, sans-serif;
	padding: 30px;
	margin: 0 0 30px 0;
	z-index: 2;
}

.headerTopBG {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	background-color: #4f0b74;
	z-index: 1;
}

.headerBottomBorder {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 265px;
	background-color: #66dfff;
	border-radius: 35px;
	z-index: 0;
}

/*Styles for extra interactable elements displayed in the header*/
.profIcon {
	width: 85px;
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 3;
}

.logout {
	background-color: #4f0b74;
	color: #66dfff;
	text-decoration: none;
	font-size: 18pt;
	font-weight: bold;
	position: absolute;
	top: 105px;
	right: 32px;
	padding: 3px;
	z-index: 4;
}

.logout:hover {
	color: #ffffff;
}

div.alignTest {
	text-align: center;
}

/*Generic h1 styles -- webpage title in header*/
h1 {
	color: #ffffff;
	font-size: 60pt;
	font-weight: bold;
	padding: 0;
	margin: 0 0 15px 0;
}

/*Generic nav bar styles*/
nav {
	background-color: #8229a8;
	border-radius: 35px;
	font-size: 20pt;
	margin: 0;
	padding: 15px 15px 15px 0;
}

nav a {
	color: #66dfff;
	text-decoration: none;
	margin: 0;
	padding: 15px;
}

/*
First-child selection is necessary to allow the alternate background color to
stretch all the way to the left of the nav bar when first link is hovered over
*/
nav a:first-child {
	padding-left: 30px;
}

nav a:hover {
	background-color: #4f0b74;
	color: #ffffff;
}

a.currentPage {
	color: #ffffff;
	font-weight: bold;
}

/*Generic main content styles*/
main {
	color: #594f5b;
	margin-bottom: 50px; /*Required for nicer footer formatting*/
}

section.pageContentMain {
	background-color: #ffffff;
	border-radius: 35px;
	padding: 15px 30px 15px 30px;
	margin: 30px;
}

h2 {
	font-size: 26pt;
}

h3 {
	font-size: 18pt;
}

/*Main content section link styles*/
p a, .pastTable tr td a, .dbTable tr td a {
	color: #8229a8;
	font-style: italic;
	text-decoration: none;
}

p a:hover, .pastTable tr td a:hover, .dbTable tr td a:hover {
	color: #23a1f6;
}

/*Footer styles*/
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #8229a8;
	color: #66dfff;
	border-top: 15px solid #66dfff;
	font-family: Calibri, sans-serif;
	margin: 0;
	padding: 10px;
}
/*
Styles specific to certain individual elements listed below:
*/

/*Past internship table styles*/
.pastTable {
	background-color: #e2e2e2;
	border-left: 10px solid #8229a8;
	border-radius: 10px;
	font-size: 14pt;
	padding: 18px 18px 10px 15px;
	margin: 30px 10px 30px 10px;
}

.pastTable:hover {
	background-color: #ffffff;
	border: 3px solid #23a1f6;
	border-left: 10px solid #23a1f6;
	padding: 15px 15px 7px 15px;
}

.pastTable h2, .pastTable h3 {
	margin: 0;
	padding: 0;
}

.pastTable td {
	padding: 0 0 10px 0;
}

.pastSmallText {
	font-size: 12pt;
	font-style: italic;
}

tr.noPad td {
	padding: 0;
}

/*Database display styles*/
#dbFilters {
	background-color: #8229a8;
	border-radius: 30px;
	color: #e2e2e2;
	font-size: 18pt;
	font-family: Calibri, sans-serif;
	padding: 20px 30px 20px 30px;
	margin: 0;
	z-index: 5;
}

#filtersBottomBG {
	background-color: #66dfff;
	border-radius: 30px;
	position: relative;
	height: 80px;
	top: -60px;
	margin-bottom: -30px;
	z-index: 1;
}

#dbFilters input {
	margin-right: 5px;
}

#dbFilters label {
	margin-right: 20px;
}

#dbContainer {
	display: flex;
	flex-direction: column;
	background-color: #e2e2e2;
	border-radius: 30px;
	padding: 0 0 30px 0;
}

.dbTable {
	font-size: 16pt;
	padding: 20px 30px 20px 30px;
	margin: 0;
	table-layout: fixed;
	width: 100%;
}

.dbTable:nth-child(2n) {
	background-color: #ffffff;
}

.dbtable:nth-child(2n+1) {
	background-color: #e2e2e2;
}

.dbTable:hover {
	border: 3px solid #23a1f6;
	border-radius: 10px;
	border-left: 10px solid #23a1f6;
	padding: 17px 27px 17px 20px;
}

.dbTable tr td h3 {
	margin: 0;
	padding: 0;
}

.dbTable tr td.linkRow {
	padding-bottom: 15px;
}

.internshipPosition {
	font-weight: normal;
	font-size: 16pt;
}

.filterSat {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.filterSat p {
	border-radius: 20px;
	color: #ffffff;
	font-family: Calibri, sans-serif;
	font-size: 14pt;
	letter-spacing: -1px;
	padding: 2px 6px 2px 6px;
	margin: 5px 15px 0 0;
	user-select: none;
}

.INTL {
	background-color: #ff8484;
}

.UCLASS {
	background-color: #ffac4d;
}

.RMT {
	background-color: #14b840;
}

/*Database filter checkbox and button styles*/
#dbFilters input[type="submit"] {
	background-color: #66dfff;
	border: none;
	border-radius: 20px;
	color: #594f5b;
	font-family: Calibri, sans-serif;
	font-size: 16pt;
	font-weight: bold;
	padding: 10px;
	margin-right: 20px;
	margin-top: 20px;
}

#dbFilters input[type="submit"]:hover {
	background-color: #ffffff;
}

input[type="checkbox"] {
	accent-color: #66dfff;
	height: 18px;
	width: 18px;
}

#dbFilters label:hover {
	color: #ffffff;
}

#pageOptionsFirst, #pageOptionsLast, #pageOptions {
	display: flex;
	flex-direction: row;
	border-bottom: 3px solid #8229a8;
	padding-bottom: 25px;
	margin: 0 30px 15px 30px;
}

#pageOptionsFirst {
	justify-content: flex-end;
}

#pageOptionsLast {
	justify-content: flex-start;
}

#pageOptions {
	justify-content: space-between;
}

input[name="next"], input[name="previous"] {
	background-color: #ffffff;
	border: none;
	border-radius: 20px;
	color: #594f5b;
	font-family: Calibri, sans-serif;
	font-size: 16pt;
	padding: 10px;
}

input[name="next"]:hover, input[name="previous"]:hover {
	border: 3px solid #23a1f6;
	padding: 7px;
}

/* Styles for the account page */
#loginBox {
	background-color: #8229a8;
	padding: 20px 20px 20px 20px;
	margin:0;
	border:none;
	border-radius: 20px;
}

#loginBox input[type="submit"] {
	background-color: #66dfff;
	border: none;
	border-radius: 20px;
	color: #594f5b;
	font-family: Calibri, sans-serif;
	font-size: 16pt;
	font-weight: bold;
	padding: 10px;
	margin-right: 20px;
	-ms-flex-align: center;
}

#loginBox input[type="submit"]:hover {
	background-color: #ffffff;
}